<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" type="text/css" href="css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <script src="js/modernizr.custom.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

  <div id="pt-main" class="pt-perspective">

    <!-- MAIN PAGE -->
  	<div id="page1" class="pt-page pt-page-1">
      <%- include('main') %>
  	</div>

    <!-- UP Page -->
  	<div id="page2" class="pt-page pt-page-2">
      <%- include('up') %>
    </div>

  	<!-- DOWN Page -->
    <div id="page3" class="pt-page pt-page-3">
      <%- include('down') %>
    </div>

    <!-- LEFT Page -->
    <div id="page4" class="pt-page pt-page-4">
      <%- include('left') %>
    </div>

    <!-- RIGHT Page -->
    <div id="page5" class="pt-page pt-page-5">
      <%- include('right') %>
    </div>

  </div>

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
<script src="js/pageTransition.js"></script>
<script src="js/textAnimation.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
