<!-- views/home.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" type="text/css" href="css/mainStyle.css">
    <script src="js/modernizr.custom.js"></script>
</head>

<body>

  <button id="Page-Transition" class="btn" onClick="loadPreviousPage()"> </button>
  <button id="Page-Transition" class="btn" onClick="gotoPage2(0)"> PAGE 1 </button>
  <button id="Page-Transition" class="btn" onClick="gotoPage1(1)"> PAGE 2 </button>
  <button id="Page-Transition" class="btn" onClick="gotoPage2(2)"> PAGE 3 </button>
  <button id="Page-Transition" class="btn" onClick="loadNextPage()"> --> </button>

      <div id="pt-main" class="pt-perspective">

        <!-- MAIN PAGE -->
      	<div id="page1" class="pt-page pt-page-1">
          <%- include('main') %>
      	</div>

        <!-- UP Page -->
      	<div id="page2" class="pt-page pt-page-2">
          <%- include('up') %>
        </div>

      	<!-- DOWN Page -->
        <div id="page3" class="pt-page pt-page-3">
          <%- include('down') %>
        </div>

        <!-- LEFT Page -->
        <div id="page4" class="pt-page pt-page-4">
          <%- include('left') %>
        </div>

        <!-- RIGHT Page -->
        <div id="page5" class="pt-page pt-page-5">
          <%- include('right') %>
        </div>

      </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/pageTransition.js"></script>
</body>

</html>
